{{> partial}}
<hr/>
<table class="table table-striped table-bordered">
	<tr>
		<th>No.</th>
		<th>Temp</th>
		<th>Humi</th>
		<th>Date</th>
		<th>Edit</th>
	</tr>
{{#each list}}
	<tr>
		<td>{{id}}</td>
		<td>{{temp}}</td>
		<td>{{humi}}</td>
		<td>{{created_at}}</td>
		<td><a href="/api/agri/delete/{{id}}">remove</a></td>
	</tr>
{{/each}}
</table>
